<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           Done 1) Mail address (should not be empty and should be an email address)
           Done 2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
           Done   Set "Advanced" as Default
           Done 3) A Password field (should not be empty)
           Done 4) A Submit Button

           Done Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Done Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)='onSubmit(f)' #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id='email' class="form-control" ngModel name="email" required email #email="ngModel">
          <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid Email</span>
        </div>

        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select id="subscription" class="form-control" [ngModel]="'Advanced'" name="subscription">
            <option value="Basic">Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id='password' class="form-control" ngModel name="password" #password="ngModel" required>
          <span *ngIf="!password.valid && password.touched" class="help-block">Please enter a valid password</span>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
